@model TruckRecords.Models.TruckTest

@{
    ViewData["Title"] = "Edit";
}

@Html.DropDownList("TruckName", null, htmlAttributes: new { @class = "form-control" })
@Html.ValidationMessageFor(model => model.TruckName, "", new { @class = "text-danger" })


<h1>Edit</h1>

<h4>TruckTest</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TruckName" />
            <div class="form-group">
                <label asp-for="ComponentTested" class="control-label"></label>
                <input asp-for="ComponentTested" class="form-control" />
                <span asp-validation-for="ComponentTested" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TestType" class="control-label"></label>
                <input asp-for="TestType" class="form-control" />
                <span asp-validation-for="TestType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TestDate" class="control-label"></label>
                <input asp-for="TestDate" class="form-control" />
                <span asp-validation-for="TestDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Score" class="control-label"></label>
                <input asp-for="Score" class="form-control" />
                <span asp-validation-for="Score" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
