@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="~/images/paccar-logo.png" alt="PACCAR Logo" style="width: 50%; height: auto;" />
    <!-- put the link inside a div to make it appear on a new line -->
    <div>
        <a href="@Url.Action("Create", "TruckTests")">Input Test Data</a>
    </div>
</div>
